*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#050505;

color:#00ff66;

font-family:"Courier New",monospace;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.container{

width:90%;

max-width:500px;

}



h1{

text-align:center;

margin-bottom:25px;

}



.arquivo,
.resposta{

border:2px solid #00ff66;

padding:20px;

margin-bottom:20px;

background:#0a0a0a;

box-shadow:0 0 15px #00ff66;

}



pre{

font-size:22px;

margin:20px 0;

text-align:center;

}



.dica{

color:#aaa;

}



input{

width:100%;

padding:12px;

margin-top:15px;

background:black;

border:1px solid #00ff66;

color:#00ff66;

font-family:inherit;

}



button{

width:100%;

padding:12px;

margin-top:15px;

background:#003300;

border:1px solid #00ff66;

color:#00ff66;

cursor:pointer;

}



button:hover{

background:#00ff66;

color:black;

}



#resultado{

margin-top:20px;

line-height:1.5;

}